@media screen and (max-width: 600px){
  /* Contact */
  .contactContainer{
    width: 90%;
}
.contactContainer h1{
    font-size: 1rem;
}
.contactContainer h2{
    font-size: 0.5rem;
}
.bannerPic{
    width: 90%;
}

}

@media screen and (max-width: 1200px) {



  .desktopNav {
    display: none;
  }
  .hamburgerNav {
    display: flex;
  }
  .menuLinks{
    background: transparent;
  }

  section {
    padding-top: 4vh;
    height: auto; /* Cambia height a auto para permitir que las secciones crezcan según su contenido */
    margin: 0;
    box-sizing: border-box;
    height: auto;
    
    
  }

  
  /* WORK */
  .workContainer{
    display: block;
  }
  /* PROFILE */
  #profile {
    gap: 0;
   padding-top: 0;
    display: block;
    margin-bottom: 2rem;
    height: auto;
  }

  .sectionPicContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    margin: auto;
  }
  
  .sectionPicContainer img {
    max-width: 100%;
    height: auto;
  }

  
  .arrow {
      position: absolute;
  right: 2rem;
  bottom: 2.5rem;
  display: none;
  }
  .arrowUp{
      display: none;
  }

  /* SKILL */

  .skillsContainer{
    flex-wrap: wrap;
  }
  /* ABOUT */

 
  .aboutContainers{
      margin-bottom: 2rem;
      margin-top: 3rem;
      gap: 1rem;
  }
  .sectionContainer{
      height: auto;
      margin: auto 1rem;
  }
  .textContainer{
      width: 60%;
  }
  .detailContainer{
    padding: 1rem;
  }
  .aboutDetailsContainer{
      justify-content: center;
  }
  
  /* Contact */
  .contactContainer{
      width: 90%;
  }
  .formContainer{
    width: 80%;
  }
  .contactContainer h1{
    font-size: 5vw;
  }
  .contactContainer h2{
      font-size:4vw;
  }
  .bannerPic{
      width: 90%;
  }


}